.hide {
	display: none
}

body{
	font: normal 10px ו;
	line-height: 200%;
}

.nodata {
	color: red;
	text-align: center
}

#scrollContent {
	border: 1px solid #ccc
}

table {
	border-collapse: collapse;
	border: 0;
	width: 89%
}

td {
	border: solid #000 1px;
/* 	width: 15%; */
	text-align: center
}

.inp {
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 1px;
	border-left-width: 0;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	border-color: black;
	width: 50px;
	outline: 0;
	text-align: center
}

.input_bg1 {
	border: 1px solid #ccc;
	padding: 0 3px;
	width: 700px
}

.input_bg1:hover {
	background: #fffae6;
	border: 1px solid #ffd553
}